<!DOCTYPE html>
<html layout:decorate="~{'/layouts/layout'}">
<head>
<title>Livraria - Gerenciador</title>
<meta charset="UTF-8">
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
        <div class="content-wrapper">
        	<div class="content">
            	<div class="container-fluid">
                	<div class="row">
                    	<div class="col-md-12">
                        	<div class="card">
                            	<div class="card-header card-header-success">
                                	<h4 class="card-title">Cadastrar Categoria</h4>
                                	<p class="card-category">campos obrigatorios<span style="color: red">*</span></p>
                            	</div>
                            	<div class="card-body">
                                	<form th:object="${categoria}" th:action="@{/categoria/salvar_categoria}" id="form" method="POST">
                                    	<input id="id" name="id" type="hidden" th:field="*{id}"
                                           th:value="*{id}">
                                       <div class="row">
                                           <div class="col-md-6">
                                               <div class="form-group">
                                                   <label class="bmd-label-floating">Nome<span style="color: red"> *</span></label>
                                                   <input type="text" id="nome" th:field="*{nome}" class="form-input">
                                                   <div id="nome-div">

                                                   </div>
                                               </div>
                                       </div>
                                    <button id="cadastro_categoria" class="btn btn-success pull-right">Cadastrar</button>
                                    <button type="reset" id="reset_categoria" class="btn btn-danger pull-right">Limpar Campos</button>
                                    <div class="clearfix"></div>
                                	</form>
                            	</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
        	</div>
        </div>
</body>
</html>
