<!DOCTYPE html>
<html>
<head>
<meta>
<title></title>
</head>
<body>

<!-- Sidebar - Menu -->
	<div th:fragment="menu_esquerdo" >
	 	<div class="sidebar" data-color="purple" data-background-color="white">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link" style="background: yellow" href="@{usuario/home}">
                            <i class="material-icons">home</i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{usuario/lista_livros}">
                                <i class="material-icons">list</i>
                                <p>Lista de Livros</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{usuario/lista_pedidos}">
                                <i class="material-icons">list</i>
                                <p>Lista de Pedidos</p>
                            </a>
                        </li>
                        <a class="btn btn-sm btn-dark" 
	                       th:href="@{/logout}">Sair</a>
                </ul>
            </div>
        </div>
	</div>

</body>
</html>
