
p{
    color: #000;
}

.menu-itens{
	color: #fff;
	
}

.menu-itens-enfermeiro{
    color: #000;
}

.form-input{
    border: none;
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    padding: 8px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

.form-input:focus{
    outline: 0;
    border-bottom: 1px solid #1c7430;
}

