body{
    background-image: url("https://pbs.twimg.com/profile_images/481477682303995904/FdcepZBq_400x400.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
}

.border-login{
    background-color: transparent;
    border-radius: 15px;
    margin-left: 40%;
    width: auto;
    height: 100%;
    margin-top: 13%;
}

@media(max-width: 800px) {
    .border-login, body{
        margin-left: auto;
        margin-right: auto;
        background: none;
    }
}


.container-login{
    margin: 2%;
    border: 5px solid #0b2e13;
    height: 500px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 50px;
}


a{
    margin: 2%;
}

label{
    color: #1b1e21;
}

button{
    margin: 1%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    border-radius: 200px;
    padding: 15px;
}

.logomarca{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-login{
    width: 100%;
}

.form-input{
    border-radius: 200px;
    border: 2px solid #1e7e34;
    font-size: 20px;
    padding: 8px;
    width: 100%;
}


.form-input:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem #34ce57;
}
