<!DOCTYPE html>
<html layout:decorate="~{'/layouts/layout'}">
<head>
    <meta charset="UTF-8">
    <title>Livraria - Vendas</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
        <div class="content-wrapper">
        	<div class="content">
            	<div class="container-fluid">
                	<div class="row">
                    	<div class="col-md-12">
                        	<div class="card">
	                            <div class="card-header card-header-success">
	                                <h4 class="card-title">Detalhes do Livro</h4>
	                            </div>
	                            <div class="card-body">
	                                <div class="table-responsive">
	                                    <table class="table table-striped">
	                                        <thead>
	                                        <tr>
	                                            <th>Titulo</th>
	                                            <th>Sinopse</th>
	                                            <th>Peso</th>
	                                            <th>Ano</th>
	                                            <th>Edição</th>
	                                            <th>Preço</th>
	                                            <th>Editora</th>
	                                            <th>Categoria</th>
	                                        </tr>
	                                        </thead>
	                                        <tbody>
	                                        <tr>
	                                            <td th:text="${livro.titulo}"></td>
	                                            <td th:text="${livro.sinopse}"></td>
	                                            <td th:text="${livro.peso}"></td>
	                                            <td th:text="${livro.ano}"></td>
	                                            <td th:text="${livro.edicao}"></td>
	                                            <td th:text="${livro.preco}"></td>
	                                            <td th:text="${livro.editora.nome}"></td>
	                                            <td th:text="${livro.categoria.nome}"></td>                                            
	                                        </tr>
	                                        </tbody>	                                        
	                                    </table>
	                                    <div class="card-header-success">
			                            	<h4 class="card-title">Autor(es):</h4>
			                            </div>
	                                    <table class="table table-atriped">
	                                		<thead>
	                                		<tr>
	                                			<th>Nome</th>
	                                			<th>Email</th>
	                                		</tr>
	                                		</thead>
	                                		<tbody>
	                                		<tr th:each="autor : ${autores}">
	                                			<td th:text="${autor.nome}"></td>
	                                			<td th:text="${autor.email}"></td>
	                                		</tr>
	                                		</tbody>
	                                	</table>
                                	   <td>
                                         	<a class="btn btn-sm btn-success"
                                                    th:href="@{livro/lista_livros/}">Voltar</a>
                                         </td>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <footer class="footer">
	            <div class="container-fluid">
	                <nav class="float-left">
	                    <ul>
	                        <li>
	                            <a href="https://www.creative-tim.com">
	                                Creative Tim
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://creative-tim.com/presentation">
	                                About Us
	                            </a>
	                        </li>
	                        <li>
	                            <a href="http://blog.creative-tim.com">
	                                Blog
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://www.creative-tim.com/license">
	                                Licenses
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	                <div class="copyright float-right">
	                    &copy;
	                    <script>
	                        document.write(new Date().getFullYear())
	                    </script>, made with <i class="material-icons">favorite</i> by
	                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
	                </div>
	            </div>
	        </footer>
	    </div>
	 </div>
</div>

</body>
</html>